<div>
<a name="#TEMPL_HCTR#"></a>
<table class="headerTable">
 <tr>
   <td>#TEMPL_HOSTNAME# / #TEMPL_IP# port #TEMPL_PORT#</td>
 </tr>
</table>
<table class="dataTable">
 <tr>
   <td class="column-head">Target IP</td>
   <td>#TEMPL_IP#</td>
 </tr>
 <tr>
   <td class="column-head">Target hostname</td>
   <td>#TEMPL_HOSTNAME#</td>
 </tr>
  <tr>
   <td class="column-head">Target Port</td>
   <td>#TEMPL_PORT#</td>
 </tr>
  <tr>
   <td class="column-head">HTTP Server</td>
   <td>#TEMPL_BANNER#</td>
 </tr>
 <tr>
   <td class="column-head">Site Link (Name)</td>
   <td><a href="#TEMPL_LINK_NAME#">#TEMPL_LINK_NAME#</a></td>
 </tr>
 <tr>
   <td class="column-head">Site Link (IP)</td>
   <td><a href="#TEMPL_LINK_IP#">#TEMPL_LINK_IP#</a></td>
 </tr>
 </table>
</div>
<p></p>
