<table  class="dataTable" width="95%">
  <tr>
    <td class="column-head" valign="top">URI</td>
    <td>#TEMPL_URI#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top">HTTP Method</td>
    <td>#TEMPL_HTTP_METHOD#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top">Description</td>
    <td>#TEMPL_MSG#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top">Test Links</td>
    <td>
      <a href="#TEMPL_ITEM_NAME_LINK#">#TEMPL_ITEM_NAME_LINK#</a><br>
      <a href="#TEMPL_ITEM_IP_LINK#">#TEMPL_ITEM_IP_LINK#</a>
    </td>
  </tr>
  <tr>
    <td class="column-head" valign="top">OSVDB Entries</td>
    <td>
       <a href="#TEMPL_OSVDB_LINK#" title="More vulnerability information on OSVDB.org">OSVDB-#TEMPL_OSVDB#</a>
    </td>
</table>
