<table class="dataTable" width="95%">
 <tr>
   <td class="column-head" valign="top">Information</td>
   <td>#TEMPL_SMMSG#</td>
 </tr>
 <tr>
   <td class="column-head" valign="top">OSVDB Entries</td>
   <td><a href="#TEMPL_OSVDB_LINK#" title="More vulnerability information on OSVDB.org">OSVDB-#TEMPL_OSVDB#</a></td>
 </tr>
</table>
