<p></p>
<table class="headerTable" width="300"><tr><td>Scan Summary</td></tr></table>
<table class="dataTable" width="95%">
  <tr>
    <td class="column-head" valign="top"><b>Software Details</b></td>
    <td><a href="http://cirt.net/">Nikto #TEMPL_NIKTO_VER#</a></td>
  <tr>
    <td><b>CLI Options</b></td>
    <td>#TEMPL_NIKTO_CLI#</td>
  </tr>
  <tr>
    <td><b>Hosts Tested</b></td>
    <td>#TEMPL_NIKTO_HOSTS_TESTED#</td>
  </tr>
  <tr>
    <td><b>Start Time</b></td>
    <td>#TEMPL_SCAN_START#</td>
  </tr>
  <tr>
    <td><b>End Time</b></td>
    <td>#TEMPL_SCAN_END#</td>
  </tr>
  <tr>
    <td><b>Elapsed Time</b></td>
    <td>#TEMPL_SCAN_ELAPSED#</td>
  </tr>
</table>
<p></p>
