<table  class="dataTable" width="95%">
  <tr>
    <td class="column-head" valign="top"><b>URI</b></td>
    <td>#TEMPL_URI#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top"><b>HTTP Method</b></td>
    <td>#TEMPL_HTTP_METHOD#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top"><b>Description</b></td>
    <td>#TEMPL_MSG#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top"><b>Test Links</b></td>
    <td>
      <a href="#TEMPL_ITEM_NAME_LINK#">#TEMPL_ITEM_NAME_LINK#</a><br>
      <a href="#TEMPL_ITEM_IP_LINK#">#TEMPL_ITEM_IP_LINK#</a>
    </td>
  </tr>
  <tr>
    <td class="column-head" valign="top"><b>OSVDB Entries</b></td>
    <td>
       <a href="#TEMPL_OSVDB_LINK#" title="More vuln information on OSVDB.org">OSVDB-#TEMPL_OSVDB#</a>
    </td>
</table>
