<p></p>
<table class="headerTable">
  <tr>
    <td>Scan Summary</td>
  </tr>
</table>
<table class="dataTable">
  <tr>
    <td class="column-head">Software Details</td>
    <td><a href="http://cirt.net/">Nikto #TEMPL_NIKTO_VER#</a></td>
  <tr>
    <td class="column-head">CLI Options</td>
    <td>#TEMPL_NIKTO_CLI#</td>
  </tr>
  <tr>
    <td class="column-head">Hosts Tested</td>
    <td>#TEMPL_NIKTO_HOSTS_TESTED#</td>
  </tr>
  <tr>
    <td class="column-head">Start Time</td>
    <td>#TEMPL_SCAN_START#</td>
  </tr>
  <tr>
    <td class="column-head">End Time</td>
    <td>#TEMPL_SCAN_END#</td>
  </tr>
  <tr>
    <td class="column-head">Elapsed Time</td>
    <td>#TEMPL_SCAN_ELAPSED#</td>
  </tr>
</table>
<p></p>
