<table class="dataTable">
 <tr>
  <td class="column-head">Information</td>
  <td>#TEMPL_SMMSG#</td>
 </tr>
 <tr>
  <td class="column-head">OSVDB Entries</td>
  <td><a href="#TEMPL_OSVDB_LINK#" title="More vulnerability information on OSVDB.org">OSVDB-#TEMPL_OSVDB#</a></td>
 </tr>
</table>
