<p></p>
<table class="headerTable" width="300">
  <tr>
    <td>Scan Summary</td>
  </tr>
</table>
<table class="dataTable" width="95%">
  <tr>
    <td class="column-head" valign="top">Software Details</td>
    <td><a href="http://cirt.net/">Nikto #TEMPL_NIKTO_VER#</a></td>
  <tr>
    <td>CLI Options</td>
    <td>#TEMPL_NIKTO_CLI#</td>
  </tr>
  <tr>
    <td>Hosts Tested</td>
    <td>#TEMPL_NIKTO_HOSTS_TESTED#</td>
  </tr>
  <tr>
    <td>Start Time</td>
    <td>#TEMPL_SCAN_START#</td>
  </tr>
  <tr>
    <td>End Time</td>
    <td>#TEMPL_SCAN_END#</td>
  </tr>
  <tr>
    <td>Elapsed Time</td>
    <td>#TEMPL_SCAN_ELAPSED#</td>
  </tr>
</table>
<p></p>
