  <table class="dataTable" width="95%">
  <tr>
    <td class="column-head" valign="top"><b>Information</b></td>
    <td>#TEMPL_SMMSG#</td>
  </tr>
  <tr>
    <td class="column-head" valign="top"><b>OSVDB Entries</b></td>
    <td><a href="#TEMPL_OSVDB_LINK#" title="More vuln information on OSVDB.org">OSVDB-#TEMPL_OSVDB#</a>
    </td>
  </tr>
</table>
