<div>
<a name="#TEMPL_HCTR#"></a><table class="headerTable" width="300"><tr><td>#TEMPL_HOSTNAME# / #TEMPL_IP# port #TEMPL_PORT#</td></tr></table>
<table width="95%" class="dataTable">
 <tr>
   <td class="column-head" valign="top"><b>Target IP</b></td>
   <td>#TEMPL_IP#</td>
 </tr>
 <tr>
   <td class="column-head"><b>Target hostname</b></td>
   <td>#TEMPL_HOSTNAME#</td>
 </tr>
  <tr>
   <td class="column-head"><b>Target Port</b></td>
   <td>#TEMPL_PORT#</td>
 </tr>
  <tr>
   <td class="column-head"><b>HTTP Server</b></td>
   <td>#TEMPL_BANNER#</td>
 </tr>
 <tr>
   <td class="column-head"><b>Site Link (Name)</b></td>
   <td>
     <a href="#TEMPL_LINK_NAME#">#TEMPL_LINK_NAME#</a>
    </td>
 </tr>
 <tr>
   <td class="column-head"><b>Site Link (IP)</b></td>
   <td>
     <a href="#TEMPL_LINK_IP#">#TEMPL_LINK_IP#</a>
   </td>
 </tr>
 </table>
</div>
<p></p>
