<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>Nikto Report</title>
 <style type="text/css">
  .dataTable
  {
   font-family: tahoma, sans-serif;
   font-size: 11pt; 
   font-weight: normal; 
   color: #000066;
   background: #EEEEEE;
   border: thin solid black;
   width: 95%;
  }
  .headerTable
  {
   font-family: tahoma, sans-serif;
   font-size: 15pt; 
   font-weight: normal; 
   color: white;
   background: #000066;
   border: thin solid black;
   width: 300px;
  }
  .column-head
  {
   width: 15em;
   font-weight:bold;
   vertical-align: top;
  }
  .copyright
  {
   font-family: tahoma, sans-serif;
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: black;
  }
  body
  {
   background: white;
  }
 </style>
</head>
<body>
