<table class="dataTable">
  <tr>
    <td class="column-head">URI</td>
    <td>#TEMPL_URI#</td>
  </tr>
  <tr>
    <td class="column-head">HTTP Method</td>
    <td>#TEMPL_HTTP_METHOD#</td>
  </tr>
  <tr>
    <td class="column-head">Description</td>
    <td>#TEMPL_MSG#</td>
  </tr>
  <tr>
    <td class="column-head">Link</td>
    <td>
      <a href="#TEMPL_ITEM_NAME_LINK#">#TEMPL_ITEM_NAME_LINK#</a><br>
    </td>
  </tr>
#TEMPL_REFERENCES_ROW#
  <tr>
    <td class="column-head">Reference(s)</td>
    <td>#TEMPL_REFERENCES#</td>
  </tr>
</table>
