<niktoscan hoststest="#TEMPL_NIKTO_HOSTS_TESTED#" options="#TEMPL_NIKTO_CLI#" version="#TEMPL_NIKTO_VER#" scanstart="#TEMPL_SCAN_START#" scanend="#TEMPL_SCAN_END#" scanelapsed="#TEMPL_SCAN_ELAPSED#" nxmlversion="1.2">

<scandetails targetip="#TEMPL_IP#" targethostname="#TEMPL_HOSTNAME#" targetport="#TEMPL_PORT#" targetbanner="#TEMPL_BANNER#" starttime="#TEMPL_START#" sitename="#TEMPL_LINK_NAME#" siteip="#TEMPL_LINK_IP#" hostheader="#TEMPL_HOST_HEADER#" errors="#TEMPL_ERRORS#" checks="#TEMPL_CTR#">
#TEMPL_SSL_INFO#
